<div mat-dialog-content class="collections-container">

    <div class="no-collections">Create a collection first</div>
    <ul *ngIf="collections.length > 0; else noCollections">
        <li *ngFor="let collection of collections" (click)="selectCollection(collection)">
            <h4>{{ collection.title }}</h4>
            <p>{{ collection.description }}</p>
        </li>
    </ul>
    
    <div class="actions">
        <button mat-raised-button color="primary" mat-button (click)="cancelDialog()">Cancel</button>
    </div>
</div>