<div mat-dialog-content class="collections-container">
    <div class="no-collections" *ngIf="collections.length === 0">
        Create a collection first
    </div>

    <mat-list *ngIf="collections.length > 0">
        <h4 mat-subheader>Select a Collection:</h4>
        <mat-list-item *ngFor="let collection of collections" (click)="selectCollection(collection)">
            <h4 matLine>{{ collection.title }}</h4>
            <p matLine>{{ collection.description }}</p>
        </mat-list-item>
    </mat-list>

    <div class="actions">
        <button mat-raised-button color="primary" (click)="cancelDialog()">Cancel</button>
    </div>
</div>