.form-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 31px 17px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: transparent;
    margin-top: 10%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.full-width {
    width: 100%;
    margin-bottom: 16px;
}

button {
    width: 100%;
}