.mvbt-dialog{
    $mobile-breaking-point: 468px;

    width:$mobile-breaking-point ;

    @media screen and (max-width:   $mobile-breaking-point){
        width: 100dvw;
    }

    .mat-mdc-dialog-container {
        --mdc-dialog-container-shape:16px; // borde radius variable

        .mat-mdc-dialog-content{
max-height: 55vh;
        }
    }

    .mdc-dialog__container{
        margin-top: 30px;
        @media screen and (max-width: $mobile-breaking-point) {
                margin-bottom: -10px;
            }
    }
}