.movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    .mat-mdc-card-actions {
        justify-content: center;
    }

    .movie-card {
        margin: 10px;
        width: 300px;
        height: auto;


        img {
            width: 100%;
            object-fit: cover;
            margin-bottom: auto;
            padding-bottom: 10px;
        }

        h4,
        p {
            color: white;
        }
    }
}

::ng-deep mat-paginator .mat-mdc-paginator-outer-container .mat-mdc-paginator-container {
    justify-content: center;
}