header {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, rgb(32, 39, 53), rgb(50, 60, 70), rgb(0, 143, 147));

    .search-container {
        display: flex;
        justify-content: start;
        padding: 12px 12px 0 12px;

        mat-form-field {
            min-width: 100%;

        }
    }
}

main {
    height: 100%;
    margin: 24px;

    .movies-container {
        padding: 24px;
    }

    .no-results--container {
        display: grid;
        place-items: center;
        height: 100vh;
    }

    .no-results {
        text-align: center;
        margin: 20px;
    }

    .img-not-found {
        background-image: url('https://image.tmdb.org/t/p/w500/vbLxDKfo8fYC8ISKKrJczNbGKLP.jpg');
        height: 256px;
        width: 233px;
        background-size: cover;
    }

    h3 {
        font-size: 1.5rem;
        color: white;
        margin-bottom: 10px;
    }


}