<header>
  <div class="header-btns">
    <button matIconPrefix mat-icon-button aria-label="Clear" (click)="resetSearch()">
      <mat-icon>home</mat-icon>
    </button>
  
    <button matIconPrefix mat-icon-button aria-label="Clear" (click)="navigateToCollections()">
      <mat-icon>collections</mat-icon>
    </button>
  </div>
  <div class="search-container">
        
    <mat-form-field appearance="outline">
      <mat-label>Feeling like watching something?</mat-label>
      <input 
      matInput 
      [(ngModel)]="searchQuery" 
      name="search" 
      placeholder="Search for a movie..." 
      required 
      minlength="3" 
      pattern="[a-zA-Z0-9 ]*" 
     (keyup.enter)="onSearch(searchQuery, searchInput)" 
      #searchInput="ngModel"
      />

        <button *ngIf="searchQuery" matIconPrefix mat-icon-button aria-label="Clear" (click)="resetSearch()">
          <mat-icon>close</mat-icon>
        </button>

        <button matIconSuffix mat-icon-button color="primary" (click)="onSearch(searchQuery,searchInput)" [disabled]="searchInput.invalid">
          <mat-icon>search</mat-icon>
        </button>

        <mat-error *ngIf="searchInput.errors?.['minlength']">Minimum length is {{searchInput.errors?.['minlength'].requiredLength}} characters.</mat-error>
        <mat-error *ngIf="searchInput.errors?.['pattern']">Invalid characters. Only alphanumeric characters allowed.</mat-error>
    </mat-form-field>
    

  </div>

</header>

<main>

  <ng-container *ngIf="searchPerformed">
    <ng-container *ngIf="movies && movies.length > 0; else nothingFound">
      <section class="movies-container">
        <app-movie-grid [moviesApiResponse]="moviesApiResponse" [searchQuery]="searchQuery"></app-movie-grid>
      </section>
    </ng-container>
  </ng-container>
  
  <ng-template #nothingFound>
    <div class="no-results--container">

      <div class="no-results ">
        <div class="animate__animated animate__bounceInDown img-not-found "></div>
        <h3 class="animate__animated animate__bounceInUp">Sorry, nothing found...</h3>
      </div>
    </div>
  </ng-template>
</main>
  
  